# Simulation

### 1. Choose $n = 20$ genes

In [45]:
import numpy as np
import pandas as pd
import os

In [46]:
print(os.getcwd())
print(os.listdir('./data'))
file = 'data/SNP_in_200GENE_chr1.csv'
data = pd.read_csv(file, error_bad_lines=False)

i:\Programming\Python\bio_informatics
['a.txt', 'Chr1First2000 - 副本.vcf', 'Chr1First2000.vcf', 'eg.vcf', 'filtered_test.vcf', 'selected_genes.csv', 'SNP_in_200GENE_chr1.csv', 'SNP_in_20GENE_chr1.csv', 'test.csv']

In [47]:
print(len(data))
data.head()

10297

,GENE,POS,HG00096,HG00097,HG00099,HG00100,HG00101,HG00102,HG00103,HG00104,...,NA21128,NA21129,NA21130,NA21133,NA21135,NA21137,NA21141,NA21142,NA21143,NA21144
0,ENSG00000227634,8269039,2,2,1,2,2,1,1,2,...,1,2,1,2,1,2,2,1,2,1
1,ENSG00000227634,8269341,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,ENSG00000227634,8269373,2,2,1,2,2,1,1,2,...,1,2,1,2,1,2,2,1,2,1
3,ENSG00000227634,8269650,2,2,1,2,2,1,1,2,...,1,2,1,1,1,2,2,1,2,1
4,ENSG00000227634,8269712,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [48]:
data['gene'] = data.GENE.astype('category')
data.head()

,GENE,POS,HG00096,HG00097,HG00099,HG00100,HG00101,HG00102,HG00103,HG00104,...,NA21129,NA21130,NA21133,NA21135,NA21137,NA21141,NA21142,NA21143,NA21144,gene
0,ENSG00000227634,8269039,2,2,1,2,2,1,1,2,...,2,1,2,1,2,2,1,2,1,ENSG00000227634
1,ENSG00000227634,8269341,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ENSG00000227634
2,ENSG00000227634,8269373,2,2,1,2,2,1,1,2,...,2,1,2,1,2,2,1,2,1,ENSG00000227634
3,ENSG00000227634,8269650,2,2,1,2,2,1,1,2,...,2,1,1,1,2,2,1,2,1,ENSG00000227634
4,ENSG00000227634,8269712,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ENSG00000227634

In [49]:
data.groupby('gene').GENE.unique().sort_values()

gene
ENSG00000001461    [ENSG00000001461]
ENSG00000018625    [ENSG00000018625]
ENSG00000084070    [ENSG00000084070]
ENSG00000084072    [ENSG00000084072]
ENSG00000116147    [ENSG00000116147]
                         ...
ENSG00000268172    [ENSG00000268172]
ENSG00000271647    [ENSG00000271647]
ENSG00000271810    [ENSG00000271810]
ENSG00000272084    [ENSG00000272084]
ENSG00000273002    [ENSG00000273002]
Name: GENE, Length: 136, dtype: object

In [50]:
# Selecting 20 Genes that have more than 100 SNPs
n = 20
counts = data.groupby('gene').size().sort_values(ascending=False) 
groups = counts[counts > 100].sample(n, replace = False, random_state = 1 ).index

print(groups)

CategoricalIndex(['ENSG00000116704', 'ENSG00000162378', 'ENSG00000162374',
                  'ENSG00000168710', 'ENSG00000121644', 'ENSG00000116353',
                  'ENSG00000237413', 'ENSG00000143190', 'ENSG00000203739',
                  'ENSG00000134198', 'ENSG00000153207', 'ENSG00000229956',
                  'ENSG00000198198', 'ENSG00000172380', 'ENSG00000143702',
                  'ENSG00000225006', 'ENSG00000117461', 'ENSG00000117602',
                  'ENSG00000143344', 'ENSG00000162688'],
                 categories=['ENSG00000001461', 'ENSG00000018625', 'ENSG00000084070', 'ENSG00000084072', 'ENSG00000116147', 'ENSG00000116353', 'ENSG00000116497', 'ENSG00000116704', ...], ordered=False, name='gene', dtype='category')

In [51]:
index = [i for i,x in enumerate(data['gene']) if x in groups]
data_selected = data.iloc[index, :]
print(len(data_selected))
data_selected.head()

5443

,GENE,POS,HG00096,HG00097,HG00099,HG00100,HG00101,HG00102,HG00103,HG00104,...,NA21129,NA21130,NA21133,NA21135,NA21137,NA21141,NA21142,NA21143,NA21144,gene
331,ENSG00000117602,24830297,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,ENSG00000117602
332,ENSG00000117602,24831517,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,ENSG00000117602
333,ENSG00000117602,24832009,2,2,1,0,1,2,2,1,...,1,2,2,0,2,2,1,0,0,ENSG00000117602
334,ENSG00000117602,24835018,2,2,1,2,2,1,1,1,...,2,1,2,2,2,2,2,2,2,ENSG00000117602
335,ENSG00000117602,24835171,0,0,1,2,1,0,0,1,...,1,0,0,2,0,0,1,2,2,ENSG00000117602

In [52]:
# get the group names
gene_names = list(data_selected.gene.unique())

data_selected['sign'] = 0

# Choose five SNPs as significant SNPs and 95 as small sigficance others are non-significant
for gene in gene_names:
    n = len(data_selected.loc[data_selected['gene'] == gene ,:])
    sign = [2]*5 + [1] * (100 - 5)  + [0] * (n - 100)
    
    data_selected.loc[data_selected['gene'] == gene ,'sign'] = sign

C:\Users\Archibald Chain\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\Archibald Chain\AppData\Roaming\Python\Python37\site-packages\pandas\core\indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

### Get Beta

In [76]:
# Get Beta
data_selected = data_selected.loc[data_selected['sign'] != 0,:]
data_selected['beta'] = 0
n = len(data_selected.loc[data_selected['sign'] == 2,'beta'])
data_selected.loc[data_selected['sign'] == 2,'beta'] = np.random.normal(0, np.sqrt(20), n)

n = len(data_selected.loc[data_selected['sign'] == 1,'beta'])
data_selected.loc[data_selected['sign'] == 1,'beta'] = np.random.normal(0, np.sqrt(3), n)

beta = data_selected.beta

In [77]:
beta.shape

(2000,)

In [73]:
from  sklearn.preprocessing import StandardScaler 
SNP = data_selected.drop(['GENE', 'POS', 'gene', 'beta'], axis=1).T
# ss = StandardScaler()
# SNP.loc[:,:] = ss.fit_teansform(X = SNP.loc[:,:])

SNP.head()

,331,332,333,334,335,336,337,338,339,340,...,9964,9965,9966,9967,9968,9969,9970,9971,9972,Bias
HG00096,2,2,2,2,0,0,2,0,2,0,...,1,1,0,1,0,1,0,0,0,1
HG00097,2,2,2,2,0,0,2,0,2,0,...,1,1,0,1,0,1,0,0,0,1
HG00099,2,2,1,1,1,0,1,1,1,1,...,0,1,0,0,0,0,0,0,0,1
HG00100,2,2,0,2,2,0,0,2,0,2,...,1,1,0,1,0,1,0,0,0,1
HG00101,2,2,1,2,1,0,1,1,1,1,...,1,1,0,1,0,1,0,0,0,1

In [74]:
SNP1 = SNP.copy()

In [75]:
temp = SNP1.values @ beta
print(temp.shape)
sigma_g2 = np.var(temp, ddof = 1) # get the overall variance
h2 = 0.5 # heritability
sigma_e2 = sigma_g2 * (1 - h2)/ h2
print("The sigma_g^2 is {:.5}, and sigma_e^2 is {:.5}".format(sigma_g2, sigma_e2))

(2549,)
The sigma_g^2 is 3321.6, and sigma_e^2 is 3321.6

Add bias term

In [78]:
beta0 = np.random.normal(0, np.sqrt(3))
beta = np.append(beta, beta0)
SNP['Bias'] = 1

In [79]:
residual = np.random.normal(0, np.sqrt(sigma_e2), len(SNP))
SNP['Y'] = SNP1.values @ beta + residual + beta0

In [81]:
SNP.head()

,331,332,333,334,335,336,337,338,339,340,...,9965,9966,9967,9968,9969,9970,9971,9972,Bias,Y
HG00096,2,2,2,2,0,0,2,0,2,0,...,1,0,1,0,1,0,0,0,1,-120.080300
HG00097,2,2,2,2,0,0,2,0,2,0,...,1,0,1,0,1,0,0,0,1,-25.341184
HG00099,2,2,1,1,1,0,1,1,1,1,...,1,0,0,0,0,0,0,0,1,-66.071638
HG00100,2,2,0,2,2,0,0,2,0,2,...,1,0,1,0,1,0,0,0,1,61.324924
HG00101,2,2,1,2,1,0,1,1,1,1,...,1,0,1,0,1,0,0,0,1,-124.191793

In [82]:
# Save Simulated Parameters and data
SNP.to_csv('Simulated_SNPs.csv')
np.savez('simulated_parameters.npz', sigma_e2 =sigma_e2,sigma_g2 =sigma_g2, h2 = h2, beta = beta)

## Model Test

### 1. Weighted LSE (weighted linear square estimate)
Let the model be
$$
Y_i = \sum_{j = 1}^{p} \beta_j X_{i,j} + u_i +\epsilon_i \ \text{where } i = 1, 2,3,\dots,n
$$
where $(u_1, u_2, \dots, u_n)^\top \sim MVN(0, \sigma_g^2 K ) $ and $\epsilon_i \sim ^{i.i.d} N(0, \sigma_e^2)$, and  $K = 1/p X X^\top$, $\sigma_e^2 = \frac{1 - h^2}{h^2} \sigma_g^2$ . 

> ? how to estimate $\sigma_e \text{ and } \sigma_g$?  Maybe using REML? But it requires the indication of the clusters.

We can write the model as 
$$
Y_i = \sum_{j = 1}^{p} \beta_j X_{i,j} + \epsilon_i^* \ \text{where } i = 1, 2,3,\dots,n \text{ and } \boldsymbol{\epsilon}^{*} = \boldsymbol u + \boldsymbol \epsilon \sim N_{n}(\mathbf{0}, V)
$$
where $V = Var(Y|X\beta) = \sigma^2_g K + \sigma^2_e I$

So we need to estimate two of  $\sigma_g, \sigma_e \text{or } h$

so we can get estimate for $\tilde{\boldsymbol{\beta}}:=\left(X^{t} V^{-1} X\right)^{-1} X^{t} V^{-1} \boldsymbol{Y}$

BLUP for $\tilde u = E(u|Y) = \sigma^2_g K V^{-1}(Y - X\tilde \beta)$

 And $\hat Y = X \tilde \beta + \tilde u$

Now we can define $H$ by

$H = X\left(X^{t} V^{-1} X\right)^{-1} X^{t} V^{-1} + \sigma^2_g K V^{-1}(I - X\left(X^{t} V^{-1} X\right)^{-1} X^{t} V^{-1})$

In [84]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
if not 'SNP' in locals():
    SNP = pd.read_csv('Simulated_SNPs.csv', index_col=0)
par = np.load('simulated_parameters.npz')
sigma_e2, sigma_g2, h2, beta = [par[params] for params in par.files]
sigma_g2 = float(sigma_g2)
sigma_e2 = float(sigma_e2)
h2 = float(h2)
SNP.head()

,331,332,333,334,335,336,337,338,339,340,...,9965,9966,9967,9968,9969,9970,9971,9972,Bias,Y
HG00096,2,2,2,2,0,0,2,0,2,0,...,1,0,1,0,1,0,0,0,1,-120.080300
HG00097,2,2,2,2,0,0,2,0,2,0,...,1,0,1,0,1,0,0,0,1,-25.341184
HG00099,2,2,1,1,1,0,1,1,1,1,...,1,0,0,0,0,0,0,0,1,-66.071638
HG00100,2,2,0,2,2,0,0,2,0,2,...,1,0,1,0,1,0,0,0,1,61.324924
HG00101,2,2,1,2,1,0,1,1,1,1,...,1,0,1,0,1,0,0,0,1,-124.191793

Get $V = Var(Y|X\beta) = \sigma^2_g K + \sigma^2_e I$ where $K = 1/p X X^\top$

In [90]:
from sklearn.model_selection import train_test_split
SNP_ = SNP.copy()
SNP_.drop('Y', inplace= True, axis = 1)
data = SNP_.values
X_tr, X_te, y_tr, y_te = train_test_split(data, SNP['Y'], test_size = 0.2, random_state = 123)

In [107]:
print(y_tr.shape, X_tr.shape, y_te.shape, X_te.shape)

(2039,) (2039, 2001) (510,) (510, 2001)

##### 1. Comparison of training and test error of using LMM, OLS, WLS
First we Just calculate $H_{tr}$, which is $H = X\left(X^{t} V^{-1} X\right)^{-1} X^{t} V^{-1} + \sigma^2_g K V^{-1}(I - X\left(X^{t} V^{-1} X\right)^{-1} X^{t} V^{-1})$

In [158]:
from numpy.linalg import inv
from numpy.linalg import pinv
from numpy.linalg import LinAlgError
from numpy.linalg import det

def getInv(Matrix):
    try:
        inv_mat = inv(Matrix)
    except LinAlgError as lae:
        if str(lae) != "Singular matrix":
            print('Determint is {}'.format(det(Matrix)))
            print('shape is {}'.format(Matrix.shape))
            raise lae

        print('Singluar Matrix')
        inv_mat = pinv(Matrix)
    finally:
        return inv_mat

In [95]:
n_tr,p = X_tr.shape
V = sigma_g2 / p * X_tr @ X_tr.T + sigma_e2 * np.diag(np.ones(X_tr.shape[0]))
inverse_part = getInv(X_tr.T @ getInv(V) @ X_tr)
K = X_tr @ X_tr.T /p
add1 = X_tr @ inverse_part @ X_tr.T @ getInv(V)
add2 = sigma_g2 * K @ getInv(V) @ (np.identity(n_tr) - add1 )
H = add1 + add2

Singluar Matrix determinant is 0.0
shape of matrix origin (2001, 2001), psesudo invserse (2001, 2001)

In [196]:
beta_hat_ols = getInv(X_tr.T @ X_tr) @ X_tr.T @y_tr
beta_hat_wls = inverse_part @ X_tr.T @ getInv(V) @ y_tr
y_tr_hat = H @ y_tr
y_tr_hat_ols = X_tr @ beta_hat_ols
y_tr_hat_wls = X_tr @ beta_hat_wls
tr_error = 1/n_tr * (np.sum((y_tr - y_tr_hat)**2))
tr_error_ols = 1/n_tr * (np.sum((y_tr - y_tr_hat_ols)**2))
tr_error_wls = 1/n_tr * (np.sum((y_tr - y_tr_hat_wls)**2))
print('training error is {:.2f}, ols error is {:.2f}, wls error is {:.2f}, sigma_e2 is {:.2f}'.format(tr_error, tr_error_ols, tr_error_wls, sigma_e2))
print('The ratio is {:.2f} : {:.2f} : {:.2f}'.format(1, tr_error_ols/tr_error, tr_error_wls/tr_error))

Singluar Matrix
training error is 580.65, ols error is 580.65, wls error is 580.65, sigma_e2 is 3321.63
The ratio is 1.00 : 1.00 : 1.00

In [114]:
y_te_hat_ols = X_te @ beta_hat_ols
y_te_hat_wls = X_te @ beta_hat_wls

COV_tr_te = sigma_g2 * X_te @ X_tr.T
V_inv = np.linalg.inv(V)
y_te_hat_LMM = y_te_hat_wls + \
    COV_tr_te @ V_inv @ (np.identity(n_tr) - X_tr @ getInv(X_tr.T @ V_inv @ X_tr) @ X_tr.T @ V_inv) @ y_tr

n_te, p = X_te.shape

te_error = 1/n_te * (np.sum((y_te - y_te_hat_LMM)**2))
te_error_ols = 1/n_te * (np.sum((y_te - y_te_hat_ols)**2))
te_error_wls = 1/n_te * (np.sum((y_te - y_te_hat_wls)**2))

Singluar Matrix determinant is 0.0
shape of matrix origin (2001, 2001), psesudo invserse (2001, 2001)

In [115]:
print('test error of LMM is {:.2f}, ols error is {:.2f}, wls error is {:.2f}, sigma_e2 is {:.2f}'.format(te_error, te_error_ols, te_error_wls, sigma_e2))
print('The ratio is {:.2f} : {:.2f} : {:.2f}'.format(1, te_error_ols/te_error, te_error_wls/te_error))

test error of LMM is 79553.59, ols error is 79553.59, wls error is 79553.59, sigma_e2 is 3321.63
The ratio is 1.00 : 1.00 : 1.00

In [44]:
y_tr_hat = H @ y_tr
# y_te_hat = H @ y_te
tr_error = 1/n * (np.sum((y_tr - y_tr_hat)**2))
n_te = len(y_te)
# te_error = 1/n_te * (np.sum( (y_te - y_te_hat)**2))
te_error = 0
print('training error is {}, test error is {}'.format(tr_error, te_error))

training error is 1.6451314558528703e-10, test error is 0

In [37]:
Hadd1 = add1
y_tr_hat = Hadd1 @ y_tr
tr_error = 1/n * (np.sum((y_tr - y_tr_hat)**2))
n_te = len(y_te)
# te_error = 1/n_te * (np.sum( (y_te - y_te_hat)**2))
te_error = 0
print('training error is {}, test error is {}'.format(tr_error, te_error))

training error is 2.0329926265123375e-10, test error is 0

##### Leave One out Cross-validation error of LMM WLS and OLS

In [4]:
n_tr,p = X_tr.shape
V = sigma_g2 / p * X_tr @ X_tr.T + sigma_e2 * np.identity(X_tr.shape[0])

H_cv_lmm = np.zeros([n_tr,n_tr])
H_cv_wls = np.zeros([n_tr,n_tr])
H_cv_ols = np.zeros([n_tr,n_tr])

H_cv_temp = np.zeros([n_tr,n_tr-1])
# V_minusi_inv_storage = np.zeros([n_tr,n_tr-1,n_tr-1]) 
# Store the inverse of Variance to reduce time consumpution
# Storge comsumption will be too large

for i in range(n_tr):
    indices_mi= list(range(n_tr))
    indices_mi.remove(i)
    V_minusi_inv = getInv(V[indices_mi,:][:,indices_mi]) 
    X_minusi = X_tr[indices_mi, :]

    inverse1 = getInv(X_minusi.T @ V_minusi_inv @ X_minusi)
    inverse2 = getInv(X_minusi.T @  X_minusi)

    temp = X_tr[i,:] @ inverse1 @ X_minusi.T @ V_minusi_inv

    H_cv_temp[i, ] = temp
    H_cv_wls[i, indices_mi] = temp
    H_cv_ols[i, indices_mi] = X_tr[i,:] @ inverse2 @ X_minusi.T 

for i in range(n_tr):
    indices_mi= list(range(n_tr))
    indices_mi.remove(i)
    H_cv_lmm[i, indices_mi] = H_cv_wls[i, indices_mi] + \
        V[i, indices_mi] @ getInv(V[indices_mi,:][:,indices_mi])  @ (np.identity(n_tr - 1) - H_cv_temp[indices_mi,: ])

np.savez('H_cv LMM.npz', H_cv_ols = H_cv_ols,H_cv_wls = H_cv_wls, H_cv_lmm= H_cv_lmm)

NameError: name 'LinAlgError' is not defined

In [ ]:
# Using Test Error to estimate the Generalization error
Error_cv = 1/n_tr * (np.square(y_tr - H_cv_lmm @ y_tr).sum())

V_inv = getInv(V)
H_te_lmm = X_te @ np.linalg.inv(X_tr.T @ V_inv @ X_tr) @ X_tr.T +\
    COV_tr_te @ V_inv @ (np.identity(n_tr) - X_tr @ getInv(X_tr.T @ V_inv @ X_tr) @ X_tr.T @ V_inv) 


Correction = 2 /n_tr * np.trace(H_cv_lmm @ V)

COV_tr_te = sigma_g2 * X_te @ X_tr.T
n_te = y_te.shape[0]

Error_te_lmm = 1/n_te *(np.squeare(y_te - H_te_lmm @ y_tr).sum())

##### CV with k folds

In [197]:
def H_function_ols(X_minus_k, X_k, y_minus_k, y_k, V):
    return X_k @ getInv(X_minus_k.T @ X_minus_k) @ X_minus_k.T

H_cv_ols_k = getHcv_for_Kfolds(X_tr, y_tr, H_function_ols, V)

Head of fold indices : [(0, 204), (204, 408), (408, 612), (612, 816), (816, 1020)]
Singluar Matrix
Singluar Matrix
Singluar Matrix
Singluar Matrix
Singluar Matrix
Singluar Matrix
Singluar Matrix
Singluar Matrix
Singluar Matrix
Singluar Matrix

In [163]:
def H_function_wls(X_minus_k, X_k, y_minus_k, y_k, V):
    V_inv = getInv(V)
    inverse = getInv(X_minus_k.T @ V_inv @ X_minus_k) 
    return X_k @ inverse @ X_minus_k.T 

H_cv_ols_k = getHcv_for_Kfolds(X_tr, y_tr, H_function_wls, V)

Head of fold indices : [(0, 205), (205, 410), (410, 615), (615, 820), (820, 1025)]
Singluar Matrix
Singluar Matrix
Singluar Matrix
Singluar Matrix
Singluar Matrix
Singluar Matrix
Singluar Matrix
Singluar Matrix
Singluar Matrix
Singluar Matrix

In [175]:
n_tr

2039

In [184]:
H_cv_lmm_k = np.zeros([n_tr, n_tr])

folds_indices = getFoldsIndices(10, n_tr)
# get H_temp
for Kindices in folds_indices:
    ia,ib = Kindices
    indices_minus_K = list(range(0, ia)) + list(range(ib, n_tr))

    V_minus_k = V[indices_minus_K,:][:, indices_minus_K]
    X_k = X_tr[ia:ib,:]
    X_minus_k = X_tr[indices_minus_K,]

    V_inv = getInv(V_minus_k)
    inverse = getInv(X_minus_k.T @ V_inv @ X_minus_k) 

    H_cv_temp = X_minus_k @ inverse @ X_minus_k.T
    temp = V[ia:ib, indices_minus_K] @ getInv(V_minus_k) @(
        np.identity(n_tr - (ib - ia)) - H_cv_temp
    )

    H_cv_lmm_k[ia:ib, indices_minus_K] = H_cv_lmm_k[ia:ib, indices_minus_K] + temp

Head of fold indices : [(0, 204), (204, 408), (408, 612), (612, 816), (816, 1020)]
Singluar Matrix
1835
(1835, 1835)
Singluar Matrix
1835
(1835, 1835)
Singluar Matrix
1835
(1835, 1835)
Singluar Matrix
1835
(1835, 1835)
Singluar Matrix
1835
(1835, 1835)
Singluar Matrix
1835
(1835, 1835)
Singluar Matrix
1835
(1835, 1835)
Singluar Matrix
1835
(1835, 1835)
Singluar Matrix
1835
(1835, 1835)
Singluar Matrix
1836
(1836, 1836)

In [195]:
H_cv_ols @ y_tr

NameError: name 'H_cv_ols' is not defined

In [192]:
y_tr_hat_LMM_cv = H_cv_ols_k @ y_tr

array([-3.32904605e+08, -3.58577993e+08, -3.15753003e+08, ...,
       -3.91617846e+08, -3.56790202e+08, -3.80309905e+08])

In [189]:
Error_cv_lmm_k = 1/n_tr * (np.sum((y_tr - H_cv_lmm_k @ y_tr)**2))

K = 1/p * X_tr @ X_tr.T
V = sigma_g2 * K + sigma_e2 * np.identity(X_tr.shape[0])

h_te = X_te @ ( X_tr.T @ X_tr + nlamb * np.identity(p)) @ X_tr.T
Cov_tr_te = 1/p * sigma_g2 *  X_tr @ X_te.T
print(np.trace(H_cv_lmm_k @ V), np.trace(h_te @ Cov_tr_te))
Correction = 2  * (1/ n_tr *np.trace(H_cv_lmm_k @ V ) - 1/n_te * np.trace( h_te @ Cov_tr_te))


CV_c1 = Error_cv_lmm_k+ Correction

# Using Test Error to estimate the Generalization error
y_te_hat_ridge = h_te @ y_tr

n_te = y_te.shape[0]
Error_te = 1/n_te *(np.sum((y_te - y_te_hat_ridge)**2 ) )
print("CV error is {:.2f}, CVc is {:.2f}, Generalization Error is {:.2f}".\
    format(Error_cv_lmm_k, CV_c1,Error_te))
print('sigma_e2 is {:.2f}'.format(sigma_e2))

-24209657844566.86 1.240268868584204e+19
CV error is 128764615966208640.00, CVc is 80126597373170112.00, Generalization Error is 552905916288798393329065656320.00
sigma_e2 is 3321.63

### 1.) Ridge


$$
Q(\boldsymbol{\beta})=\frac{1}{n}(\mathbf{y}-\mathbf{X} \boldsymbol{\beta})^{\prime}(\mathbf{y}-\mathbf{X} \boldsymbol{\beta})+ \lambda ||{\beta}||_2
$$

$$
\hat \beta = \left(X^\top X +n \lambda \mathbf{I} \right)^{-1} X^{\top} Y
$$

So the 
$$
\hat Y = H Y = X \left(X^\top X + n\lambda \mathbf{I} \right)^{-1} X^{\top} Y
$$

##### Training and testing error of Ridge

In [120]:
n_tr,p = X_tr.shape

nlamb = 10
beta_without_y = getInv(X_tr.T @ X_tr + nlamb * np.identity(p)) @ X_tr.T
beta_hat_ridge = beta_without_y @ y_tr
H_tr = X_tr @ beta_without_y
H_te = X_te @ beta_without_y
y_tr_hat_ridge = H_tr @ y_tr
y_te_hat_ridge = H_te @ y_tr 

tr_error_ridge = 1/n_tr * np.sum((y_tr-y_tr_hat_ridge) ** 2)
te_error_ridge = 1/n_te * np.sum((y_te-y_te_hat_ridge) ** 2)
print('training error of ridge is {:.2f}, test error is {:.2f}'.format(tr_error_ridge, te_error_ridge))

training error of ridge is 1629.12, test error is 5291.02

In [121]:
print('training error of ridge is {:.2f}, test error is {:.2f}, sigma_e2 is {:.3f}'.format(tr_error_ridge, te_error_ridge, sigma_e2))

training error of ridge is 1629.12, test error is 5291.02, sigma_e2 is 3321.627

##### LOO Cross-valication

In [106]:
n_tr,p = X_tr.shape
H_cv_ridge = np.zeros([n_tr,n_tr])

lamb = 100 
for i in range(n_tr):
    indices_mi= list(range(n_tr))
    indices_mi.remove(i)
    X_minusi = X_tr[indices_mi, :]
    inverse = getInv(X_minusi.T @  X_minusi + lamb * np.diag(np.ones(p)) )

    temp = X_tr[i,:] @ inverse @ X_minusi.T  
    H_cv_ridge[i, indices_mi] = temp

np.savez('H_cv ridge.npz', H_cv_ridge = H_cv_ridge)

In [107]:
Error_cv = 1/n_tr * (np.sum((y_tr - H_cv @ y_tr)**2))
Correction = 2 /n_tr * np.trace(H_cv @ V) ## Todo ?

CV_c = Error_cv + Correction

In [115]:
# Using Test Error to estimate the Generalization error
y_te_hat = X_te @ np.linalg.inv(X_tr.T @ X_tr + lamb * np.diag(np.ones(p))) @ X_tr.T @ y_tr

n_te = y_te.shape[0]
Error_te = 1/n_te *(np.sum((y_te - y_te_hat)**2 ) )
print("CVc is {}, Generalization Error is {}".format(CV_c,Error_te))

CVc is 1008492111.4700671, Generalization Error is 5.272504717120024e-11

In [117]:
print(Error_cv)
print(Correction)

4.6513079051403714e-11
1008492111.4700671

In [134]:
n_tr,p = X_tr.shape
Hcv_ridge_k = np.zeros([n_tr,n_tr])
nlamb = 100

folds_indices = getFoldsIndices(nfolds = 10, n_tr = n_tr)
for Kindices in folds_indices:
    ia,ib = Kindices
    indices_minus_K = list(range(0, ia)) + list(range(ib, n_tr))
    X_minus_K = X_tr[indices_minus_K,:]

    inverse = getInv(X_minus_K.T @ X_minus_K + nlamb * np.identity(p))

    temp = X_tr[ia:ib, :] @ inverse @ X_minus_K.T
    Hcv_ridge_k[ia:ib, indices_minus_K] = temp

Head of fold indices : [(0, 205), (205, 410), (410, 615), (615, 820), (820, 1025)]

##### CV with k folds

$$
\widehat{C V}_{c}=\frac{1}{n}\left(\boldsymbol{y}-H_{c v} \boldsymbol{y}\right)^{t}\left(\boldsymbol{y}-H_{c v} \boldsymbol{y}\right)+\frac{2}{n}\left[\operatorname{tr}\left(H_{c v} \operatorname{Cov}(\boldsymbol{y}, \boldsymbol{y})\right)-n \boldsymbol{h}_{t e} \operatorname{Cov}\left(\boldsymbol{y}_{t r}, y_{t e}\right)\right]
$$

In [188]:
Error_cv_ridge_k = 1/n_tr * (np.sum((y_tr - Hcv_ridge_k @ y_tr)**2))

K = 1/p * X_tr @ X_tr.T
V = sigma_g2 * K + sigma_e2 * np.identity(X_tr.shape[0])

h_te = X_te @ ( X_tr.T @ X_tr + nlamb * np.identity(p)) @ X_tr.T
Cov_tr_te = 1/p * sigma_g2 *  X_tr @ X_te.T
print(np.trace(Hcv_ridge_k @ V), np.trace(h_te @ Cov_tr_te))
Correction = 2  * (1/ n_tr *np.trace(Hcv_ridge_k @ V ) - 1/n_te * np.trace( h_te @ Cov_tr_te))


CV_c1 = Error_cv_ridge_k + Correction

# Using Test Error to estimate the Generalization error
y_te_hat_ridge = h_te @ y_tr

n_te = y_te.shape[0]
Error_te = 1/n_te *(np.sum((y_te - y_te_hat_ridge)**2 ) )
print("CV error is {:.2f}, CVc is {:.2f}, Generalization Error is {:.2f}".\
    format(Error_cv_ridge_k, CV_c1,Error_te))
print('sigma_e2 is {:.2f}'.format(sigma_e2))

7233216.21903292 1.240268868584204e+19
CV error is 3674.41, CVc is -48637994846428608.00, Generalization Error is 552905916288798393329065656320.00
sigma_e2 is 3321.63

In [ ]:
# Using Test Error to estimate the Generalization error
y_te_hat = X_te @ np.linalg.inv(X_tr.T @ X_tr + lamb * np.diag(np.ones(p))) @ X_tr.T @ y_tr

n_te = y_te.shape[0]
Error_te = 1/n_te *(np.sum((y_te - y_te_hat)**2 ) )
print("CVc is {}, Generalization Error is {}".format(CV_c,Error_te))

CVc is 1008492111.4700671, Generalization Error is 5.272504717120024e-11

## Working with K-folds

In [182]:
def getFoldsIndices(nfolds, n_tr):
    if nfolds <= n_tr:
        fold_size = int(np.floor(n_tr/nfolds))
        resi = n_tr % nfolds
        fold_sizes = [0] + resi * [fold_size +1] + (nfolds - resi) * [fold_size]
        indices = np.cumsum(fold_sizes)
        folds_indices = [(indices[i], indices[i + 1])  for i in range(nfolds)]

    else:
        raise Exception("Number of folds is larger than numer of samples")
    print('Head of fold indices : {}'.format(folds_indices[:5]))
    return folds_indices
    
def getHcv_for_Kfolds(X_tr, y_tr,  H_function, V, nfolds = 10):
    n_tr,p = X_tr.shape
    Hcv_k = np.zeros([n_tr,n_tr])
    
    folds_indices = getFoldsIndices(nfolds = nfolds, n_tr = n_tr)
    for Kindices in folds_indices:
        ia,ib = Kindices
        indices_minus_K = list(range(0, ia)) + list(range(ib, n_tr))

        X_minus_K = X_tr[indices_minus_K,:]
        y_minus_K = y_tr[indices_minus_K]
        X_k = X_tr[ia:ib,:]
        y_K = y_tr[ia:ib]

        V_minus_k = V[indices_minus_K,:][:, indices_minus_K]
        temp = H_function(X_minus_K, X_k , y_minus_K, y_K, V_minus_k)

        Hcv_k[ia:ib, indices_minus_K] = temp

    return Hcv_k